/* reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* estilos de header */
header {
  display: flex;
  justify-content: space-around;
  align-items: center; }
  header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center; }

/* estilos de body */
body {
  padding: 1rem;
  background-size: cover;
  background: #22c1c3;
  background: linear-gradient(264deg, #22c1c3 48%, rgba(178, 193, 51, 0.544153) 52%, #a1c145 54%, #8fc157 56%, #7ec169 58%, #26c1c0 68%, #fdbb2d 100%); }

section, .section-dos {
  text-align: center;
  font-size: 2rem;
  background-color: tomato;
  padding: 1rem; }

section {
  margin: 3rem; }

.section-dos {
  margin: 5rem; }

header nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end; }

menu {
  display: flex;
  justify-content: center,space-evenly; }

main {
  color: yellow; }

.carousel-item {
  display: flex;
  justify-content: space-around;
  align-items: center; }

.contenedor {
  height: 100vh;
  padding: 1rem;
  background-color: pink;
  margin: 20px;
  flex-flow: row-reverse wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: 2fr;
  grid-template-rows: 0.8fr 2fr;
  grid-template-areas: "header" "footer"; }

main .boton {
  background-color: blue;
  color: whitesmoke;
  justify-content: center;
  padding: 0.7rem;
  box-shadow: 1px 1px 5px black;
  text-shadow: 1px 1px 5px white;
  display: flex; }

body .boton {
  background-color: blue;
  color: whitesmoke;
  justify-content: center;
  padding: 0.7rem;
  box-shadow: 1px 1px 5px black;
  text-shadow: 1px 1px 5px white;
  display: flex; }

footer {
  background-color: tomato;
  border: 1px solid black;
  padding: 1rem;
  width: 300px; }
  footer .facebook {
    background-color: blue;
    font-size: 20px; }
  footer .instagram {
    background-color: tomato;
    font-size: 20px; }
  footer .tiktok {
    background-color: black;
    font-size: 20px; }
