/* estilos de header */

header{
    //@include flex;
    nav{
        ul{
            list-style: block;
            @include flex;
        }
    }
}

/* estilos de body */

 body{

    padding: 1rem;
    background-size: cover;
    background: linear-gradient(264deg, rgb(244, 252, 14) 48%, rgba(255, 36, 237, 0.501) 52%, rgb(69, 193, 189) 54%, rgb(227, 247, 0) 56%, rgb(69, 248, 14) 58%, rgb(246, 250, 135) 68%, rgb(224, 232, 111) 100%);

    }
